

<%= form_for(@tenant) do |f| %>
    <% if @tenant.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@tenant.errors.count, "error") %> prohibited this tenant from being saved:</h2>

          <ul>
            <% @tenant.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>



        </div>
    <% end %>



    <div class="container">


      <div class="container">
        <div class="jumbotron">

          <div class="contact-info">

            <div class="row">
              <div class="col-md-6">

                <div class="field">

                  <%= f.label :first_name, 'First Name' %>
                  <%= f.text_field :first_name, :placeholder => 'First Name' %>

                </div>

                <div class="field">
                  <%= f.label :last_name, 'Last Name' %>
                  <%= f.text_field :last_name, :placeholder => 'Last Name' %>

                </div>



                <div class="field">
                  <%= f.label :job_title ,'Job Title' %>
                  <%= f.text_field :job_title, :placeholder => 'Job Title' %>
                </div>

                <div class="field">
                  <%= f.label :company_name, 'Company Name' %>
                  <%= f.text_field :company_name, :placeholder => 'Company Name' %>
                </div>

                <!-- CHANGE ID FORM -->

                <!-- Portfolio -->
                <div class="field">
                  <%= f.label 'Portfolio' %>
                  <%= f.select :portfolio_id, options_from_collection_for_select(Portfolio.all, :id, :name) %>
                </div>

                <!-- Property -->
                <div class="field">
                  <%= f.label 'Property' %>
                  <%= f.select :property_id, options_from_collection_for_select(Property.all, :id, :name) %>
                </div>

                <!-- Building -->
                <div class="field">
                  <%= f.label 'Building' %>
                  <%= f.select :building_id, options_from_collection_for_select(Building.all, :id, :name) %>
                </div>


                <!-- Suite -->
                <div class="field">
                  <%= f.label 'Suite' %>
                  <%= f.select :suite_id, options_from_collection_for_select(Suite.all, :id, :name) %>
                </div>

                <!-- END CHANGE ID FORM -->



                <div class="field">
                  <%= f.label :notes, 'Notes' %>
                  <%= f.text_field :notes, :placeholder => 'Notes' %>
                </div>




              </div> <!-- End Column Div -->

              <div class="col-md-6">


                <div class="field">
                  <%= f.label :email, 'Email' %>
                  <%= f.text_field :email, :placeholder => 'Email' %>
                </div>

                <div class="field">
                  <%= f.label :phone_direct, 'Phone Number' %>
                  <%= f.text_field :phone_direct, :placeholder => 'Phone Number' %>
                </div>


                <div class="field">
                  <%= f.label :phone_direct_ext, 'Extension' %>
                  <%= f.text_field :phone_direct_ext, :placeholder => 'Extension' %>
                </div>


                <div class="field">
                  <%= f.label :phone_mobile, 'Mobile Number' %>
                  <%= f.text_field :phone_mobile, :placeholder => 'Mobile Number' %>
                </div>


                <div class="field">
                  <%= f.label :fax_number, 'Fax Number' %>
                  <%= f.text_field :fax_number, :placeholder => 'Fax Number' %>
                </div>



                <div class="field">
                  <%= f.label :preferred_method_of_contact, 'Preferred Method of Contact' %>
                  <%= f.select :preferred_method_of_contact, [ nil,'Email', 'Office Phone', 'Mobile Phone', 'No Preference'] %>
                </div>

                <div class="field">
                  <%= f.label :contact_type, 'Role' %>
                  <%= f.select :contact_type, [nil, 'Billing', 'Emergency', 'Admin', 'Facilities', 'Repairs'] %>
                </div>




              </div>


            </div><!-- END row div -->

          </div> <!-- END div contact-info -->

        </div><!-- END jumbotron div -->
      </div><!-- END container div -->




      <div class="actions">
        <%= f.submit %>
      </div>



    </div><!-- END Container -->

    </div><!-- END Container -->





<% end %>