

<div class="container">


  <div class="container">
    <div class="jumbotron">

      <div class="contact-info">

        <div class="row">
          <div class="col-md-6">
            <h2><%= @tenant.first_name %> <%= @tenant.last_name %> (Tenant ID: <%= @tenant.id %>)</h2>

            <p><%= @tenant.job_title %> for <%= @tenant.company_name %></p>

            <p>
              Premise Address: <br />

              <%= (Building.find(@tenant.building_id)).address %> <!-- Building Address -->
              <%= Suite.find(@tenant.suite_id).name %> <!-- Suite Name / Number -->
              <%= Building.find(@tenant.building_id).state %><!-- Building State -->
              <%= Building.find(@tenant.building_id).zip_code %><!-- Building Zip Code -->
            </p>



            <div class="notes">
              <p>Recent Notes:</p>
              <p><%= @tenant.notes %></p>
            </div>



          </div>

          <div class="col-md-6">
            <p>Email:
              <%= mail_to(@tenant.email) %>
            </p>

            <p>Phone Number:
              <%= @tenant.phone_direct %>
              <%= if @tenant.phone_direct_ext then "ext. #{@tenant.phone_direct_ext}" end %>
            </p>

            <p>Mobile Number:
              <%= @tenant.phone_mobile %>
            </p>

            <p>Fax Number:
              <%= @tenant.fax_number %>
            </p>

            <p>Preferred Method of Contact:
              <%= @tenant.preferred_method_of_contact %>
            </p>

            <p>Role:
              <%= @tenant.contact_type %>
            </p>
          </div>


        </div><!-- END row div -->

      </div> <!-- END div contact-info -->

    </div><!-- END jumbotron div -->
  </div><!-- END container div -->
  <div clas="container">

    <!-- Portfolio to Tenant -->
    <div class="make-space">
      <div class="row">
        <div class="col-md-3">
          <p>Portfolio:
          <%= Portfolio.find(@tenant.portfolio_id).name %><!-- Portfolio Name -->
          </p>
        </div>

        <div class="col-md-3">
          <p>Property:
          <%= Property.find(@tenant.property_id).name %><!-- Property Name -->
          </p>
        </div>

        <div class="col-md-3">
          <p>Building:
          <%= Building.find(@tenant.building_id).name %><!-- Building Name -->
          </p>

        </div>

        <div class="col-md-3">
          <p>Suite:
          <%= Suite.find(@tenant.suite_id).name %><!-- Suite Name -->
          </p>

        </div>




      </div>

    </div><!-- END Portfolio to Tenant -->




    <!-- Files -->
    <div class="make-space">
      <p>Files</p>
    </div>
    <!-- END Files -->



    <!-- Work Orders -->
    <div class="make-space"><!-- Make Div subclass of Tenant -->
      <p>Work Order Number 152: status</p><!-- delete example later -->

    </div>
    <!-- END Work Orders -->


    <!-- HVAC info -->
    <div class="make-space"><!-- Make HVAC Dic subclass of SUITE -->
      <p>HVAC Information</p>
    </div>
    <!-- END HVAC info -->
  </div><!-- END Container -->

</div><!-- END Container -->

