<%= form_for @suite do |f| %>
    <% if @suite.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@suite.errors.count, "error") %> prohibited this suite from being saved:</h2>

          <ul>
            <% @suite.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <div class="field">
      <%= f.label :lock_box_location, 'Lock Box Location' %>
      <%= f.text_field :lock_box_location, :placeholder => 'Lock Box Location' %>
    </div>

    <div class="field">
      <%= f.label :lock_box_combo, 'Lock Box Combo' %>
      <%= f.text_field :lock_box_combo, :placeholder => 'Lock Box Combo' %>
    </div>

    <div class="field">
      <%= f.label :sq_ft, 'Sq Ft' %>
      <%= f.text_field :sq_ft, :placeholder => 'Sq Ft' %>
    </div>

    <div class="field">
      <%= f.label :vacant %>
      <%= f.check_box :vacant %>
    </div>



    <div class="field">
      <%= f.label :name, 'Unit Number' %>
      <%= f.text_field :name, :placeholder => 'Unit Number' %>
    </div>


    <div class="field">
      <%= f.label :building_id %>
      <%= f.select :building_id, options_from_collection_for_select(Building.all, :id, :name)  %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>