<h1><%= @suite.name %> Show </h1>

<%= @suite.lock_box_location %>
<%= @suite.lock_box_combo %>
<%= @suite.sq_ft %>
<%= @suite.vacant %>
<%= @suite.building_id %>
<%= @suite.name %>


<h5>Tenants</h5>

<% @tenants.each do |tenant| %>

    <%= link_to "#{tenant.first_name + ' ' + tenant.last_name}", "../tenants/#{tenant.id}" %>


<% end %>