<h1>Show Portfolio</h1>

<p>Portfolio ID:
<%= @portfolio.id %> </p>

<p>Portfolio Name:
<%= @portfolio.name %> </p>

<p>Portfolio Team Members:
<%= @portfolio.team %> </p>






<h5>Properties</h5>
<% @properties.each do |property| %>

    <%= link_to "#{property.name}", "../properties/#{property.id}" %> <br />


<% end %>


<br />

<%= link_to 'Add Property To This Portfolio', new_property_path %>

<!-- (portfolio_id:{parent_id: nil}), method: :put -->
