<h3>Profile</h3>



<%= current_user.email %>
<%= current_user.first_name %>
<%= current_user.last_name %>


<h3>My Portfolio</h3>
<p>Enter All Properties Here</p>


<h3>My Files</h3>
<!-- File Upload-->
<%= form_for current_user do |f| %>
    <%= f.label :profile_picture, 'Profile Picture' %>
    <%= f.file_field :profile_picture %>
<% end %>