<%= form_for @property do |f| %>
    <% if @property.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@property.errors.count, "error") %> prohibited this property from being saved:</h2>

          <ul>
            <% @property.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name, 'Property Name' %>

      <%= f.text_field :name, :placeholder => 'Property Name' %>
    </div>

    <div class="field">
      <%= f.label :entity, 'Entity' %>
      <%= f.text_field :entity, :placeholder => 'Entity' %>
    </div>

    <div class="field">
      <%= f.label :sq_ft, 'Sq Ft' %>
      <%= f.text_field :sq_ft, :placeholder => 'Sq Ft' %>
    </div>

    <div class="field">
      <%= f.label :tax, 'Tax ID' %>
      <%= f.text_field :tax, :placeholder => 'Tax ID' %>
    </div>

    <div class="action">
      <%= f.submit %>
    </div>





<% end %>