<%= form_for @property do |f| %>
    <% if @property.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@property.errors.count, "error") %> prohibited this property from being saved:</h2>

          <ul>
            <% @property.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name %>

      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :entity %>
      <%= f.text_field :entity %>
    </div>

    <div class="field">
      <%= f.label :sq_ft %>
      <%= f.text_field :sq_ft %>
    </div>

    <div class="field">
      <%= f.label :tax %>
      <%= f.text_field :tax %>
    </div>




    <div class="action">
      <%= f.submit %>
    </div>





<% end %>