<% content_for :header do %>
    <%= stylesheet_link_tag 'bootstrap.css' %>
<% end %>


<h1>Welcome</h1>
<p>What would you like to do?</p>


<div class="container">

  <div class="row">
    <div class="col-md-12">
      <p>Create a New</p>
    </div>
  </div>



  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2">
      <%= link_to 'Portfolio', new_tenant_path %>
    </div>
    <div class="col-md-2">
      <%= link_to 'Property', new_tenant_path %>
    </div>
    <div class="col-md-2">
      <%= link_to 'Building', new_tenant_path %>
    </div>
    <div class="col-md-2">
      <%= link_to 'Suite', new_tenant_path %>
    </div>
    <div class="col-md-2">
      <%= link_to 'Tenant', new_tenant_path %>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>