<%= form_for @building do |f| %>
    <% if @building.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@building.errors.count, "error") %> prohibited this building from being saved:</h2>

          <ul>
            <% @building.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>



    <div class="field">
      <%= f.label :name, 'Building Name' %>
      <%= f.text_field :name, :placeholder => 'Building Name' %>
    </div>
    <div class="field">
      <%= f.label :address, 'Address' %>
      <%= f.text_field :address, :placeholder => 'Address' %>
    </div>
    <div class="field">
      <%= f.label :city, 'City' %>
      <%= f.text_field :city, :placeholder => 'City Name' %>
    </div>
    <div class="field">
      <%= f.label :state, 'State' %>
      <%= f.text_field :state, :placeholder => 'State' %>
    </div>
    <div class="field">
      <%= f.label :zip_code, 'Zip Code' %>
      <%= f.text_field :zip_code, :placeholder => 'Zip Code' %>
    </div>

    <div class="field">
      <%= f.label :property_id, 'Property' %>
      <%= f.select :property_id, options_from_collection_for_select(Property.all, :id, :name)  %>
    </div>



    <div class="actions">
        <%= f.submit %>
    </div>

<% end %>