<h1>Show Buildings</h1>

<%= @building.id %>
<%= @building.property_id %>
<%= @building.name %>
<%= @building.address %>
<%= @building.city %>
<%= @building.state %>
<%= @building.zip_code %>

<h5>Suites</h5>

<% @suites.each do |suite| %>


    <%= link_to suite.name, "../suites/#{suite.id}" %> <br />


<% end %>

<br />
<%= link_to 'Create new Suite', new_suite_path %>