<!DOCTYPE html>
<html>
<head>
  <title>TenantContacts</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'bootstrap' %>
  <%= csrf_meta_tags %>
  <%= yield(:header) %>
</head>
<body>

<%= render 'layouts/nav' %>


<%= yield %>

</body>
</html>
